@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  @apply bg-green;
}

h1 {
  font-size: xx-large;
  @apply text-darkBlue;
  font-weight: bold;
  font-size: 50px
}

button {
  @apply bg-darkBlue;
  @apply text-white;
  padding: 10px 20px;
  width: 200px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  @apply bg-lightBlue;
}


option:checked {
  display: none;
}
